<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="connectionstring" value="server=10.11.6.78;uid=luke;pwd=Aa123;database=Quectel_Report_DB" />
    <add key="connectionstring_vManage2022" value="server=10.11.6.2;uid=read;pwd=quectel@2020;database=vManage2022" />
    <add key="connectionstring_vManage" value="server=10.11.6.2;uid=read;pwd=quectel@2020;database=vManage" />
    <add key="connectionstring_netcoredev" value="server=10.11.6.80;uid=sa;pwd=Quectel@2022;database=netcoredev" />
    <add key="version number" value="1.0" />
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.4.369" newVersion="0.85.4.369" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
